/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}
.style-me1 {
  color: red;
}
#style-me2 {
  color: blue;
}
.style-me1#style-me2 {
  color: purple;
}
/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
  background-color: red;
}
.my-children-are-styled > p {
  background-color: lightgreen;
}
/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box {
  background-color: lightcoral;
  margin: 10px 5px;
  padding: 20px 50px;
  width: 20em;
  height: 8em !important;
  border: 10px solid;
  box-sizing: border-box;
  overflow: auto;
  outline: 10px solid red;
  border-radius: 50%;
  background-image: url(./assets/images/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
  position: absolute;
  top: 0px;
  background-color: lightgreen;
}
.position-relative {
  position: relative;
  background-color: lavender;
  left: 15px;
}
.position-sticky {
  position: sticky;
  background-color: lightgray;
  top: 0px;
}
/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: red;
  font-size: 18px;
  line-height: 2.5;
  font-weight: 900;
  font-family: "Underdog", system-ui;
  font-style: normal;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-transform: capitalize;
  text-decoration: underline;
}
/* V. Styling links */
/* Put styles for questions 1-3 here */
a:link {
  color: green;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
}
a:hover {
  color: darkgreen;
  text-decoration: underline;
}
a:active {
  color: darkred;
  text-decoration: line-through;
}
a:focus {
  color: darkblue;
  text-decoration: overline;
}
a:visited {
  color: black;
  font-style: italic;
}
/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
  width: 100vw;
  background-color: lightcoral;
  width: calc(100vw - 100px);
}
.fixed-width-col {
  width: 350px;
  display: inline-block;
}
.fluid-col {
  display: inline-block;
  width: calc(100vw - 350px - 100px);
}
